@model List<persistTodoApp.Models.Todo>
@{
    
}

<div class="text-center">
    
   
    <h1>To-Dos</h1>
    <a asp-action="Create">Create New Task</a>

    @* an input element here with a submit btn that lists all todos underneath it - Chatgpt/deepseek/yt/research on SPA implementation *@

    <ul>
        @foreach (var todo in Model)
        {
            <li>
                @todo.Task
                <a asp-action="Edit" asp-route-id="@todo.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@todo.Id">Delete</a>
            </li>
        }
    </ul>


</div>
